.grid-view{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(42rem ,1fr));

}

.container{
  margin: 1rem 4rem;
}
.country{
  padding: 1.8rem;
  display: flex;
  align-items: center;
  grid-gap: 0.4rem;
  gap: 0.4rem;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  transition: all .2s ease-in-out;
  background-color: rgb(53, 53, 53)
  
  
}
.country:hover{
  background-color: rgb(63, 63, 63);
  box-shadow: 0 0 15px 5px rgb(58, 58, 58);
}

/* .country-details{
  background-color: rgb(53, 53, 53)
  
} */
.btn-show{
  padding: 0.6rem 1.4rem;
  border: none;
  background-color: rgb(107, 255, 87);
  color: rgb(51, 51, 51);
  font-weight: 700;
  font-size: 1.2rem;
}

.country-name, .country-code{
margin-bottom: .2rem;

}

.country-name{
font-size: 1.8rem;
}
.country-code{
font-size: .8rem;
font-weight: 300;

}

.hidden-details{
  margin-top: 1rem;
  

}
.hidden-details p {
  margin-top: .5rem;
  color: rgb(88, 255, 110);
}
